.pokemons {
  display: flex;
  flex-wrap: wrap;
}
.pokemon {
  flex-basis: calc(100% / 2 - 10px);
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  margin: 5px;
  padding: 10px 0px;
  &:hover {
    background: blue;
  }
  &:active {
    background: lightblue;
  }
}
