@use "variables";
.header {
  height: 100px;
  margin: 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main {
  display: flex;
  justify-content: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background: orange;
  height: 80px;
  overflow-y: scroll;
}

.favorites {
  display: flex;
  width: 100vw;
}

.brand {
  height: 60px;
  display: flex;
  align-items: center;
}

.header__logo {
  max-height: 100%;
  fill: variables.$text-primary;
}
